# ===================================================================
# artellapipe requirements file
# ===================================================================
pyblish-base==1.8.7
pyblish-lite==0.8.6
python-json-logger==0.1.11
sentry-sdk==0.16.5
slackclient==2.8.0
FileSeq==1.10.0
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
artellapipe-config