# ===================================================================
# artellapipe requirements file
# ===================================================================

Qt.py
six
psutil
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
pyblish-base
pyblish-lite
lucidity
python-json-logger
sentry-sdk
pyyaml
metayaml
appdirs
slackclient
FileSeq