# ===================================================================
# artellapipe requirements file
# ===================================================================
psutil
tpPyUtils
tpDccLib
tpQtLib
tpNameIt
pyblish-base
pyblish-lite
lucidity